@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-o-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-ms-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes zoom-down {
  from {
    -webkit-transform-origin: top;
    -moz-transform-origin: top;
    -ms-transform-origin: top;
    transform-origin: top;
    -webkit-transform: scale(0, 0);
    -ms-transform: scale(0, 0);
    -o-transform: scale(0, 0);
    transform: scale(0, 0);
  }
  to {
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
  }
}
@-moz-keyframes zoom-down {
  from {
    -webkit-transform-origin: top;
    -moz-transform-origin: top;
    -ms-transform-origin: top;
    transform-origin: top;
    -webkit-transform: scale(0, 0);
    -ms-transform: scale(0, 0);
    -o-transform: scale(0, 0);
    transform: scale(0, 0);
  }
  to {
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
  }
}
@-o-keyframes zoom-down {
  from {
    -webkit-transform-origin: top;
    -moz-transform-origin: top;
    -ms-transform-origin: top;
    transform-origin: top;
    -webkit-transform: scale(0, 0);
    -ms-transform: scale(0, 0);
    -o-transform: scale(0, 0);
    transform: scale(0, 0);
  }
  to {
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
  }
}
@-ms-keyframes zoom-down {
  from {
    -webkit-transform-origin: top;
    -moz-transform-origin: top;
    -ms-transform-origin: top;
    transform-origin: top;
    -webkit-transform: scale(0, 0);
    -ms-transform: scale(0, 0);
    -o-transform: scale(0, 0);
    transform: scale(0, 0);
  }
  to {
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
  }
}
@keyframes zoom-down {
  from {
    -webkit-transform-origin: top;
    -moz-transform-origin: top;
    -ms-transform-origin: top;
    transform-origin: top;
    -webkit-transform: scale(0, 0);
    -ms-transform: scale(0, 0);
    -o-transform: scale(0, 0);
    transform: scale(0, 0);
  }
  to {
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
  }
}
@-webkit-keyframes zoom-up {
  from {
    -webkit-transform-origin: bottom;
    -moz-transform-origin: bottom;
    -ms-transform-origin: bottom;
    transform-origin: bottom;
    -webkit-transform: scale(0, 0);
    -ms-transform: scale(0, 0);
    -o-transform: scale(0, 0);
    transform: scale(0, 0);
  }
  to {
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
  }
}
@-moz-keyframes zoom-up {
  from {
    -webkit-transform-origin: bottom;
    -moz-transform-origin: bottom;
    -ms-transform-origin: bottom;
    transform-origin: bottom;
    -webkit-transform: scale(0, 0);
    -ms-transform: scale(0, 0);
    -o-transform: scale(0, 0);
    transform: scale(0, 0);
  }
  to {
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
  }
}
@-o-keyframes zoom-up {
  from {
    -webkit-transform-origin: bottom;
    -moz-transform-origin: bottom;
    -ms-transform-origin: bottom;
    transform-origin: bottom;
    -webkit-transform: scale(0, 0);
    -ms-transform: scale(0, 0);
    -o-transform: scale(0, 0);
    transform: scale(0, 0);
  }
  to {
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
  }
}
@-ms-keyframes zoom-up {
  from {
    -webkit-transform-origin: bottom;
    -moz-transform-origin: bottom;
    -ms-transform-origin: bottom;
    transform-origin: bottom;
    -webkit-transform: scale(0, 0);
    -ms-transform: scale(0, 0);
    -o-transform: scale(0, 0);
    transform: scale(0, 0);
  }
  to {
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
  }
}
@keyframes zoom-up {
  from {
    -webkit-transform-origin: bottom;
    -moz-transform-origin: bottom;
    -ms-transform-origin: bottom;
    transform-origin: bottom;
    -webkit-transform: scale(0, 0);
    -ms-transform: scale(0, 0);
    -o-transform: scale(0, 0);
    transform: scale(0, 0);
  }
  to {
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
  }
}
@-webkit-keyframes slide-right {
  from {
    -webkit-transform: translate(-20px, 0);
    -ms-transform: translate(-20px, 0);
    -o-transform: translate(-20px, 0);
    transform: translate(-20px, 0);
    opacity: 0;
  }
  to {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
    opacity: 1;
  }
}
@-moz-keyframes slide-right {
  from {
    -webkit-transform: translate(-20px, 0);
    -ms-transform: translate(-20px, 0);
    -o-transform: translate(-20px, 0);
    transform: translate(-20px, 0);
    opacity: 0;
  }
  to {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
    opacity: 1;
  }
}
@-o-keyframes slide-right {
  from {
    -webkit-transform: translate(-20px, 0);
    -ms-transform: translate(-20px, 0);
    -o-transform: translate(-20px, 0);
    transform: translate(-20px, 0);
    opacity: 0;
  }
  to {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
    opacity: 1;
  }
}
@-ms-keyframes slide-right {
  from {
    -webkit-transform: translate(-20px, 0);
    -ms-transform: translate(-20px, 0);
    -o-transform: translate(-20px, 0);
    transform: translate(-20px, 0);
    opacity: 0;
  }
  to {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
    opacity: 1;
  }
}
@keyframes slide-right {
  from {
    -webkit-transform: translate(-20px, 0);
    -ms-transform: translate(-20px, 0);
    -o-transform: translate(-20px, 0);
    transform: translate(-20px, 0);
    opacity: 0;
  }
  to {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
    opacity: 1;
  }
}
@-webkit-keyframes slide-left {
  from {
    -webkit-transform: translate(20px, 0);
    -ms-transform: translate(20px, 0);
    -o-transform: translate(20px, 0);
    transform: translate(20px, 0);
    opacity: 0;
  }
  to {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
    opacity: 1;
  }
}
@-moz-keyframes slide-left {
  from {
    -webkit-transform: translate(20px, 0);
    -ms-transform: translate(20px, 0);
    -o-transform: translate(20px, 0);
    transform: translate(20px, 0);
    opacity: 0;
  }
  to {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
    opacity: 1;
  }
}
@-o-keyframes slide-left {
  from {
    -webkit-transform: translate(20px, 0);
    -ms-transform: translate(20px, 0);
    -o-transform: translate(20px, 0);
    transform: translate(20px, 0);
    opacity: 0;
  }
  to {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
    opacity: 1;
  }
}
@-ms-keyframes slide-left {
  from {
    -webkit-transform: translate(20px, 0);
    -ms-transform: translate(20px, 0);
    -o-transform: translate(20px, 0);
    transform: translate(20px, 0);
    opacity: 0;
  }
  to {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
    opacity: 1;
  }
}
@keyframes slide-left {
  from {
    -webkit-transform: translate(20px, 0);
    -ms-transform: translate(20px, 0);
    -o-transform: translate(20px, 0);
    transform: translate(20px, 0);
    opacity: 0;
  }
  to {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
    opacity: 1;
  }
}
@-webkit-keyframes slide-down {
  from {
    -webkit-transform: translate(0, -20px);
    -ms-transform: translate(0, -20px);
    -o-transform: translate(0, -20px);
    transform: translate(0, -20px);
    opacity: 0;
  }
  to {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
    opacity: 1;
  }
}
@-moz-keyframes slide-down {
  from {
    -webkit-transform: translate(0, -20px);
    -ms-transform: translate(0, -20px);
    -o-transform: translate(0, -20px);
    transform: translate(0, -20px);
    opacity: 0;
  }
  to {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
    opacity: 1;
  }
}
@-o-keyframes slide-down {
  from {
    -webkit-transform: translate(0, -20px);
    -ms-transform: translate(0, -20px);
    -o-transform: translate(0, -20px);
    transform: translate(0, -20px);
    opacity: 0;
  }
  to {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
    opacity: 1;
  }
}
@-ms-keyframes slide-down {
  from {
    -webkit-transform: translate(0, -20px);
    -ms-transform: translate(0, -20px);
    -o-transform: translate(0, -20px);
    transform: translate(0, -20px);
    opacity: 0;
  }
  to {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
    opacity: 1;
  }
}
@keyframes slide-down {
  from {
    -webkit-transform: translate(0, -20px);
    -ms-transform: translate(0, -20px);
    -o-transform: translate(0, -20px);
    transform: translate(0, -20px);
    opacity: 0;
  }
  to {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
    opacity: 1;
  }
}
@-webkit-keyframes slide-up {
  from {
    -webkit-transform: translate(0, 20px);
    -ms-transform: translate(0, 20px);
    -o-transform: translate(0, 20px);
    transform: translate(0, 20px);
    opacity: 0;
  }
  to {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
    opacity: 1;
  }
}
@-moz-keyframes slide-up {
  from {
    -webkit-transform: translate(0, 20px);
    -ms-transform: translate(0, 20px);
    -o-transform: translate(0, 20px);
    transform: translate(0, 20px);
    opacity: 0;
  }
  to {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
    opacity: 1;
  }
}
@-o-keyframes slide-up {
  from {
    -webkit-transform: translate(0, 20px);
    -ms-transform: translate(0, 20px);
    -o-transform: translate(0, 20px);
    transform: translate(0, 20px);
    opacity: 0;
  }
  to {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
    opacity: 1;
  }
}
@-ms-keyframes slide-up {
  from {
    -webkit-transform: translate(0, 20px);
    -ms-transform: translate(0, 20px);
    -o-transform: translate(0, 20px);
    transform: translate(0, 20px);
    opacity: 0;
  }
  to {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
    opacity: 1;
  }
}
@keyframes slide-up {
  from {
    -webkit-transform: translate(0, 20px);
    -ms-transform: translate(0, 20px);
    -o-transform: translate(0, 20px);
    transform: translate(0, 20px);
    opacity: 0;
  }
  to {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
    opacity: 1;
  }
}

.container {
  padding: 0;
}
a {
  color: inherit;
  text-decoration: none;
}
a:hover,
a:focus {
  color: inherit;
}
hr {
  border-top-color: rgba(12, 12, 12, 0.12);
}
hr.ruler-lg {
  margin: 8px 0;
}
hr.ruler-xl {
  margin: 24px 0;
}
hr.ruler-xxl {
  margin: 56px 0;
}
.img-backdrop {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.img-backdrop img {
  display: block;
  min-width: 100%;
  min-height: 100%;
  height: auto;
}
.img-rounded {
  border-radius: 4px;
}
.doc-section {
  margin-bottom: 80px;
}
.doc-section.doc-lead {
  margin-bottom: 20px;
}
.doc-section h3 {
  margin-top: 20px;
}
.doc-section h4 {
  margin-top: 17px;
}
.doc-section h5 {
  margin-top: 15px;
}
.fuelphp-dump {
  position: fixed;
  z-index: 999;
  right: 0;
  bottom: 0;
}
.hbox-sm,
.hbox-md,
.hbox-lg {
  padding: 0;
}
.hbox-sm .hbox-column,
.hbox-md .hbox-column,
.hbox-lg .hbox-column {
  display: block;
  vertical-align: top;
}
.hbox-sm .hbox-column.v-top,
.hbox-md .hbox-column.v-top,
.hbox-lg .hbox-column.v-top {
  vertical-align: top;
}
.hbox-sm .hbox-column.v-middle,
.hbox-md .hbox-column.v-middle,
.hbox-lg .hbox-column.v-middle {
  vertical-align: middle;
}
.hbox-sm .hbox-column.v-bottom,
.hbox-md .hbox-column.v-bottom,
.hbox-lg .hbox-column.v-bottom {
  vertical-align: bottom;
}
.hbox-xs {
  display: table;
  table-layout: fixed;
  padding: 0;
}
.hbox-xs .hbox-column {
  display: table-cell;
}




@media (min-width: 769px) {
  .hbox-sm {
    display: table;
    table-layout: fixed;
  }
  .hbox-sm .hbox-column {
    float: none;
    display: table-cell;
  }
}
@media (min-width: 992px) {
  .hbox-md {
    float: none;
    display: table;
    table-layout: fixed;
  }
  .hbox-md .hbox-column {
    float: none;
    display: table-cell;
  }
}
@media (min-width: 1200px) {
  .hbox-lg {
    display: table;
    table-layout: fixed;
  }
  .hbox-lg .hbox-column {
    float: none;
    display: table-cell;
  }
}
.v-top,
.v-inline-top {
  float: none!important;
  display: table-cell;
  vertical-align: top;
}
.v-middle,
.v-inline-middle {
  float: none!important;
  display: table-cell;
  vertical-align: middle;
}
.v-bottom,
.v-inline-bottom {
  float: none!important;
  display: table-cell;
  vertical-align: bottom;
}
.v-inline-top,
.v-inline-middle,
.v-inline-bottom {
  display: inline-block;
}
.card-tiles .hbox-column {
  padding: 20px;
}
.text-light {
  font-family: 'open_sanssemibold';
  text-transform:uppercase;
  text-align:left !important;
  color:#ffffff !important;
  padding-left:20px;
  font-size:24px !important;
}
.text-normal {
  font-weight: 400;
}
.text-medium,
strong {
  font-weight: 500;
}
.text-bold {
  font-weight: 700;
}
.text-ultra-bold {
  font-weight: 900;
}
h1 > strong,
h2 > strong,
h3 > strong,
h4 > strong,
h5 > strong,
h6 > strong {
  font-weight: 700;
}
h3,
h4,
h5,
h6 {
  font-weight: 500;
}
.text-display-lines {
  line-height: 1.1;
}
.text-display-lines span,
.text-display-lines p,
.text-display-lines h1,
.text-display-lines h2,
.text-display-lines h3,
.text-display-lines h4,
.text-display-lines h5,
.text-display-lines h6 {
  position: relative;
}
.text-display-lines span:before,
.text-display-lines p:before,
.text-display-lines h1:before,
.text-display-lines h2:before,
.text-display-lines h3:before,
.text-display-lines h4:before,
.text-display-lines h5:before,
.text-display-lines h6:before,
.text-display-lines span:after,
.text-display-lines p:after,
.text-display-lines h1:after,
.text-display-lines h2:after,
.text-display-lines h3:after,
.text-display-lines h4:after,
.text-display-lines h5:after,
.text-display-lines h6:after {
  content: '';
  position: absolute;
  display: block;
  height: 1px;
  width: 100%;
  background: #ff00cc;
}
.text-display-lines span:before,
.text-display-lines p:before,
.text-display-lines h1:before,
.text-display-lines h2:before,
.text-display-lines h3:before,
.text-display-lines h4:before,
.text-display-lines h5:before,
.text-display-lines h6:before {
  top: 0;
}
.text-display-lines span:after,
.text-display-lines p:after,
.text-display-lines h1:after,
.text-display-lines h2:after,
.text-display-lines h3:after,
.text-display-lines h4:after,
.text-display-lines h5:after,
.text-display-lines h6:after {
  bottom: 0;
}
.text-xs {
  font-size: 75%;
}
.text-sm {
  font-size: 85%;
}
.text-lg {
  font-size: 125%;
}
.text-xl {
  font-size: 180%;
}
.text-xxl {
  font-size: 225%;
}
.text-xxxl {
  font-size: 330%;
}
.text-xxxxl {
  font-size: 500%;
}
p {
  letter-spacing: 0.1px;
}
.text-columns-2 {
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
  -webkit-column-gap: 24px;
  -moz-column-gap: 24px;
  column-gap: 24px;
}
.text-columns-3 {
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3;
  -webkit-column-gap: 24px;
  -moz-column-gap: 24px;
  column-gap: 24px;
}
.text-columns-4 {
  -webkit-column-count: 4;
  -moz-column-count: 4;
  column-count: 4;
  -webkit-column-gap: 24px;
  -moz-column-gap: 24px;
  column-gap: 24px;
}
.text-columns-sm {
  -webkit-column-count: 4;
  -moz-column-count: 4;
  column-count: 4;
  -webkit-column-gap: 24px;
  -moz-column-gap: 24px;
  column-gap: 24px;
}
.text-columns {
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3;
  -webkit-column-gap: 24px;
  -moz-column-gap: 24px;
  column-gap: 24px;
}
.text-columns-lg {
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
  -webkit-column-gap: 24px;
  -moz-column-gap: 24px;
  column-gap: 24px;
}
@media (max-width: 992px) {
  .text-columns-sm {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    -webkit-column-gap: 24px;
    -moz-column-gap: 24px;
    column-gap: 24px;
  }
  .text-columns {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    -webkit-column-gap: 24px;
    -moz-column-gap: 24px;
    column-gap: 24px;
  }
  .text-columns-lg {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
    -webkit-column-gap: 24px;
    -moz-column-gap: 24px;
    column-gap: 24px;
  }
}
@media (max-width: 769px) {
  .text-columns-sm {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    -webkit-column-gap: 24px;
    -moz-column-gap: 24px;
    column-gap: 24px;
  }
  .text-columns {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
    -webkit-column-gap: 24px;
    -moz-column-gap: 24px;
    column-gap: 24px;
  }
  .text-columns-lg {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
    -webkit-column-gap: 24px;
    -moz-column-gap: 24px;
    column-gap: 24px;
  }
}
@media (max-width: 480px) {
  .text-columns-sm {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
    -webkit-column-gap: 24px;
    -moz-column-gap: 24px;
    column-gap: 24px;
  }
  .text-columns {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
    -webkit-column-gap: 24px;
    -moz-column-gap: 24px;
    column-gap: 24px;
  }
  .text-columns-lg {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
    -webkit-column-gap: 24px;
    -moz-column-gap: 24px;
    column-gap: 24px;
  }
}
.line-height-normal {
  line-height: 1.846153846;
}
.line-height-lg {
  line-height: 2.146153846;
}
.line-height-xl {
  line-height: 2.396153846;
}
.line-height-xxl {
  line-height: 2.746153846;
}
.text-caption {
  display: block;
  margin-bottom: 29px;
  font-size: 12px;
}
.card ~ .text-caption,
.panel-group ~ .text-caption {
  margin-top: -15px;
}
.no-linebreak {
  white-space: nowrap;
}
.text-shadow {
  text-shadow: 0 1px 2px #000000;
}
blockquote small {
  color: inherit;
  opacity: .7;
}
article img.pull-right,
p img.pull-right {
  margin-left: 10px;
  margin-bottom: 2px;
}
article img.pull-left,
p img.pull-left {
  margin-right: 10px;
  margin-bottom: 2px;
}
ul,
ol {
  padding-left: 16px;
}
ul.list-divided li,
ol.list-divided li {
  margin-top: 16px;
}
ul.list-divided li:first-child,
ol.list-divided li:first-child {
  margin-top: 0;
}
ol {
  list-style-position: inside;
  padding-left: 0;
}
.page-header {
  border-bottom-color: rgba(0, 0, 0, 0.3);
}
.page-header.no-border {
  border: none;
  margin-bottom: 10px;
  padding-bottom: 0;
}
.text-divider {
  display: table;
  width: 100%;
  margin: 13px 0 20px 0;
  opacity: 0.5;
}
.text-divider span {
  display: table-cell;
  padding: 0 10px;
  position: relative;
  bottom: -7px;
  white-space: nowrap;
}
.text-divider:before,
.text-divider:after {
  content: '';
  width: 50%;
  display: table-cell;
  border-bottom: 1px solid rgba(12, 12, 12, 0.3);
}
.dl-horizontal.dl-icon dd {
  margin-bottom: 15px;
}
@media (min-width: 769px) {
  .dl-horizontal.dl-icon dt {
    width: 30px;
    text-align: left;
    padding-top: 5px;
  }
  .dl-horizontal.dl-icon dd {
    margin-left: 35px;
  }
}
.dl-horizontal dd.full-width {
  margin-left: 0;
}
.text-default-bright {
  color: #ffffff;
}
a.text-default-bright:hover {
  color: #e6e6e6;
}
.text-default-light {
  color: #969c9c;
}
a.text-default-light:hover {
  color: #7c8383;
}
.text-default {
  color: #313534;
}
a.text-default:hover {
  color: #191a1a;
}
.text-default-dark {
  color: #20252b;
}
a.text-default-dark:hover {
  color: #0a0c0e;
}
.text-primary-bright {
  color: #caf0ee;
}
a.text-primary-bright:hover {
  color: #a2e5e1;
}
.text-primary-light {
  color: #7dd8d2;
}
a.text-primary-light:hover {
  color: #56cdc5;
}
.text-primary {
  color: #0aa89e;
}
a.text-primary:hover {
  color: #077871;
}
.text-primary-dark {
  color: #066265;
}
a.text-primary-dark:hover {
  color: #033334;
}
.text-accent-bright {
  color: #e9c9ef;
}
a.text-accent-bright:hover {
  color: #d9a1e3;
}
.text-accent-light {
  color: #c77bd4;
}
a.text-accent-light:hover {
  color: #b755c8;
}
.text-accent {
  color: #9c27b0;
}
a.text-accent:hover {
  color: #771e86;
}
.text-accent-dark {
  color: #681a7f;
}
a.text-accent-dark:hover {
  color: #461155;
}
.text-info {
  color: #2196f3;
}
a.text-info:hover {
  color: #0c7cd5;
}
.text-warning {
  color: #ff9800;
}
a.text-warning:hover {
  color: #cc7a00;
}
.text-danger {
  color: #f44336;
}
a.text-danger:hover {
  color: #ea1c0d;
}
.text-success {
  color: #4caf50;
}
a.text-success:hover {
  color: #3d8b40;
}
#base {
  overflow: hidden;
  padding-left: 64px;
  width: 100%;
  min-height: 100%;
}
#base > .backdrop {
  position: fixed;
  z-index: 1031;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: block;
  background-color: rgba(12, 12, 12, 0.33);
}
#base.hide-backdrop > .backdrop {
  display: none;
  position: relative;
}
#content {
  position: relative;
  width: 100%;
  left: 0;
  padding-top: 64px;
}
@media (min-width: 1200px) {
  .menubar-pin #base {
    padding-left: 240px;
  }
}
@media (min-width: 769px) {
  .full-content #base,
  .full-content #content {
    height: 100%;
  }
}
@media (max-width: 768px) {
  #base {
    padding-left: 0;
    padding-right: 0;
  }
}

.header-fixed #header {
  position: fixed;
}
.no-sidebar #header {
  right: 12px;
}
.headerbar {
  position: relative;
  min-height: 54px;
}
.headerbar:before,
.headerbar:after {
  content: " ";
  display: table;
}
.headerbar:after {
  clear: both;
}
.headerbar .navbar-devider {
  display: block;
  width: 20px;
  height: 5px;
}
.headerbar-left {
  position: absolute;
}
.headerbar-left a {
  float: left;
}
.headerbar-left .header-nav {
  margin-left: 24px;
}
.headerbar-right {
  float: right;
}
.headerbar-right .header-nav {
  display: inline-block;
  float: left;
      margin-top: -12px;
}
.headerbar-right .dropdown-menu {
  left: auto;
  right: 0;
}
.headerbar-right .header-nav-toggle {
  margin-left: 0;
}
.header-nav {
  margin: 0 12px;
  padding-left: 0;
  list-style: none;
}
.header-nav > li {
  position: relative;
  display: block;
  padding: 14px 0 14px 12px;
  float: left;
}
.header-nav > li:first-child {
  padding-left: 0;
}
.header-nav > li > a {
  position: relative;
  display: block;
}
.header-nav > li > a:hover,
.header-nav > li > a:focus {
  text-decoration: none;
  background-color: rgba(12, 12, 12, 0.07);
}
.header-nav > li.disabled > a {
  color: #969c9c;
}
.header-nav > li.disabled > a:hover,
.header-nav > li.disabled > a:focus {
  color: #969c9c;
  text-decoration: none;
  background-color: transparent;
  cursor: not-allowed;
}
.header-nav .open > a,
.header-nav .open > a:hover,
.header-nav .open > a:focus {
  background-color: #e5e6e6;
  border-color: #0aa89e;
}
.header-nav > li > a > img {
  max-width: none;
}
.header-nav .btn-icon-toggle:hover {
  background-color: rgba(12, 12, 12, 0.07);
}
.header-nav .navbar-search {
  float: right;
}
.header-nav .header-nav-brand {
  display: inline-table;
  padding: 0;
  height: 54px;
}
.header-nav .header-nav-brand .brand-holder {
  display: table-cell;
  vertical-align: middle;
}
.header-nav .header-nav-brand a {
  text-decoration: none;
}
.header-nav .header-nav-brand img {
  max-height: 54px;
      margin-top: -19px;
}
.header-nav-profile .dropdown {
  padding: 0;
}
.header-nav-profile .dropdown > a {
  position: relative;
  min-height: 54px;
  min-width: 210px;
  padding: 12px;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
}
.header-nav-profile .dropdown > a:after {
  content: "\f107";
  position: absolute;
  *margin-right: .3em;
  right: 10px;
  top: 22px;
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
}
.header-nav-profile .dropdown > a .ink {
  background-color: rgba(83, 88, 88, 0.15);
}
.header-nav-profile .dropdown img {
  width: 40px;
  height: 40px;
  border-radius: 40px;
}
.header-nav-profile .dropdown .profile-info {
  display: inline-block;
  vertical-align: middle;
  padding: 0 20px 0 10px;
  line-height: 15px;
}
.header-nav-profile .dropdown .profile-info small {
  display: block;
  opacity: 0.5;
}
.header-nav-profile .dropdown .dropdown-menu {
  min-width: 100%;
}
.header-nav-profile .dropdown.open {
  color: #313534;
}
.header-nav-profile .dropdown.open > a {
  margin-top: 6px;
  padding: 6px 12px 12px 12px;
  min-height: 54px;
  background-color: #ffffff;
  border-color: rgba(255, 255, 255, 0.9);
  -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);
}
.header-nav-profile .dropdown.open > a:after {
  top: 16px;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
.header-nav-profile .dropdown.open .dropdown-menu {
  margin-top: -1px;
  border-top: none;
}
.header-nav-options .dropdown > a .badge {
  position: absolute;
  font-size: 10px;
  top: -1px;
  right: 4px;
}
.header-nav-options .dropdown .dropdown-menu {
  top: 14px;
}
@media (min-width: 1200px) {
  .menubar-first.menubar-pin .header-nav .header-nav-brand {
    display: none;
  }
  .menubar-first.menubar-pin #header {
    left: 240px;
  }
}
/*@media (min-width: 769px) {
  .menubar-first #header .menubar-toggle {
    display: none;
  }
  .menubar-first #header {
    left: 64px;
  }
}*/
/*@media (max-width: 768px) {
  #header {
    position: relative;
  }
  .header-fixed #header {
    position: relative;
  }
  .header-fixed #header:before {
    content: '';
    z-index: 0;
    position: fixed;
    top: 0;
    display: block;
    width: 100%;
    height: 64px;
    -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);
  }
  .headerbar-left {
    z-index: 1011;
    left: 0;
    right: 0;
    height: 64px;
    background: #ffffff;
    border-bottom: 1px solid #e5e6e6;
  }
  .header-fixed .headerbar-left {
    position: fixed;
  }
  .headerbar-right {
    position: absolute;
    left: 0;
    right: 0;
    min-height: 64px;
    top: 64px;
    float: none !important;
    background: #ffffff;
    -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);
  }
  .headerbar-right .header-nav-options {
    margin-right: 12px;
    float: right;
  }
  .headerbar-right .header-nav-profile {
    position: absolute;
    float: left;
  }
  .headerbar-right .header-nav-toggle {
    position: absolute;
    z-index: 1012;
    top: -64px;
    right: 0;
  }
  .header-fixed .headerbar-right .header-nav-toggle {
    position: fixed;
    top: 0;
  }
  .headerbar-left .header-nav {
    margin-left: 12px;
  }
  .header-nav-profile .dropdown img {
    width: 0px;
    opacity: 0;
  }
  .header-nav-profile .dropdown .profile-info {
    padding-left: 0;
    padding-right: 30px;
  }
  .navbar-search {
    position: relative;
    z-index: 1;
  }
  .navbar-search.expanded .form-group {
    max-width: 100%;
    width: 480px;
  }
}
#header.header-inverse {
  background: #242a31;
  color: rgba(255, 255, 255, 0.6);
}
.header-inverse .header-nav .btn-icon-toggle:hover {
  background-color: rgba(255, 255, 255, 0.15);
}
@media (max-width: 768px) {
  .header-inverse .headerbar-left {
    background: #242a31;
    border-bottom-color: rgba(255, 255, 255, 0.15);
  }
  .header-inverse .headerbar-right {
    background: #242a31;
  }
}*/
#menubar {
  position: fixed;
  z-index: 1004;
  left: 0;
  top: 64px;
  bottom: 0;
  width: 64px;
  color: rgba(12, 12, 12, 0.85);
}

.list li.divider1-full-bleed,
.list li.divider-inset {
  position: relative;
}
.list li.divider1-full-bleed:after,
.list li.divider1-inset:after,
.list.divider1-full-bleed li:after,
.list.divider1-inset li:after {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  display: block;
  height: 1px;
  background: rgba(150, 156, 156, 0.3);
}
.list li.divider1-full-bleed:after,
.list.divider1-full-bleed li:after {
  left: 0;
}
.list li.divider1-inset:after,
.list.divider1-inset li:after {
  left: 72px;
}